<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="col-sm-4 col-md-4">
    <div class="row">
      <p>This is where the sidebar goes.</p>
    </div>
    <div class="row">

      <div>
        watching model:
        <div class="button" ngf-select ng-model="uploadFiles">Upload using model $watch</div>
        <div class="button" ngf-select ngf-change="upload($files)">Upload on file change</div>
        Drop File:
        <div ngf-drop ng-model="uploadFiles" class="drop-box"
             ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
             ngf-accept="'.jpg,.png,.pdf'">Drop Images or PDFs files here</div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
      </div>

    </div>

    <div class="row">
      <p>Ang File Upload</p>
      <input type="file" nv-file-select uploader="uploader"/><br/>
      <ul>
        <li ng-repeat="item in uploader.queue">
          Name: <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </li>
      </ul>
    </div>

    <div class="row">
      <div ng-repeat="file in files">
        <a href="/file/{{ file.title }}">{{ file.title }}</a>
      </div>
    </div>

  </div>

  <div class="col-sm-8 col-md-8">

    <div class="row">
      <div class="thumbnail">
        <div class="caption">
          <h3>Counts</h3>
          <div ng-repeat="result in results">
            <!--<p>{{result}}</p>
            <p>{{result.match.length}}</p>
            -->
            <canvas id="bar" class="chart chart-bar" data="result.count.hits" series="result.count.series"
                    labels="result.count.labels"></canvas>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="thumbnail">
        <div class="caption">
          <h3>Timeseries</h3>
          <canvas id="line" class="chart chart-line" data="results.timeseries.data" labels="results.timeseries.labels" legend="true" series="results.timeseries.series" click="onClick">
          </canvas>
          <!--
          <div ng-repeat="result in results">
            <p>{{result.name}}</p>
            <p>{{result.match.length}}</p>
          </div>
          <h4>Counts</h4>
          <canvas id="bar" class="chart chart-bar" data="results.count.hits" series="results.count.series"
                  labels="results.count.labels"></canvas>
          <div><h4>Timeseries</h4></div>
          -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="thumbnail" ng-repeat="file in files">
        <div class="caption">
          <h3>{{file.title}}</h3>
          <p>{{file.content}}</p>
        </div>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
        <div class="thumbnail">
          <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
          <div class="caption">
            <h3>{{awesomeThing.title}}</h3>
            <p>{{awesomeThing.description}}</p>
            <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
          </div>
        </div>
      </div>
    </div>
    -->

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>Numerian
  </div>
</footer>
